@media (min-width: 992px) {
  .navbar .dropdown-menu {
    display: none;
  }
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.regresar {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.regresar:hover {
  color: #fff;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

button.page-link {
  height: 2.35rem;
}

.mb-3.row:has(div.quill) {
  margin-bottom: 4rem !important;
}

body.login-page {
  background-color: #212529;
}

.login-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px 40px 55px 40px;
  /* Increased padding at top and bottom */
  margin: 0 auto;
  width: 100%;
  max-width: 30rem;
  margin-top: 100px;
}

.login-form {
  margin-top: 20px;
}

.login-button {
  background-color: #007BFF;
  color: #fff;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-form #username {
  text-transform: uppercase;
}

.footer {
  margin-top: auto;
}

@font-face {
  font-family: "MarkPro-Bold";
  src: url("./src/fonts/MarkPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "effra";
  src: url("./src/fonts/effra-regular.ttf") format("truetype");
}
@font-face {
  font-family: "MarkPro-Light";
  src: url("./src/fonts/MarkPro-Ligth.ttf") format("truetype");
}
